*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}
.qrContainer{
    height: 400px;
    width: 390px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
}
h2{
    text-align: center;
    margin: 21px 0px;
}
#qrInput{
    display: block;
    width: 90%;
    padding: 9px 10px;
    margin: 0px 17px;
    border-radius: 9px;
}
#qrButton{
    text-align: center;
    margin-top: 36px;
    cursor: pointer;
    margin-left: 33%;
    padding: 12px;
    background-color: rgb(23, 228, 60);
    color: white;
    font-weight: 700;
    width: 118px;
    height: 43px;
    border: none;
    border-radius: 5px;
    display: block;
}
#qrImage{
    margin-top: 23px;
    margin-left: 31%;
    opacity: 0;
}